{% load static %} {% load static wagtailuserbar %} {% load wagtailcore_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>CDD</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="/">Community Diet Diversity</a>
                    </div>
                </header>
                {% block content %} {% block feature %}
                <!-- Banner -->
                <section class="main-banner">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="banner-content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="banner-caption">
                                                <h4>Hello,Welcome to <em>Community</em> Diet Diversity.</h4>
                                                <p>Prompting <strong>Food Diversity</strong> -The key to <strong>Community Health.</strong></p>
                                                <div class="primary-button">
                                                    {% if user.is_authenticated %}
                                                    <a href="/redirected/{{user.username}}" class="btn-get-started">Get Started</a> {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {% endblock %} {% endblock %}

              
                <!-- Top Image -->
                <br>
                <section class="top-image">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <img src="{% static 'assets/images/top-image.jpg' %}" alt=""> -->
                                <div class="down-content" id="overview">
                                    <h4>Overview</h4>
                                    <p>We endeavor to focus on innovative strategies for creating awareness using online Nutrition Education Programs (e-NEP) and door-step delivery of vitamin and mineral rich leafy vegetables from community based nutri-garden/microgreens to overcome the urgent need of micronutrients to combat malnutrition and anaemia among ICDS beneficiaries by using a WEBGIS platform and involvement of school children.</p>
                                    <!-- <div class="primary-button">
                                        <a href="#">Read More</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Left Image -->
                <section class="left-image">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static 'assets/images/school.jpg' %}" alt="">
                            </div>
                            <div class="col-md-6">
                                <div class="right-content">
                                    <h4>School</h4>
                                    <p>We aim to create a platform for peer-learning where the school students become the nutri-leaders within their households. Trained Nutri-educators and Mentors will ensure and monitor the participation of schools and students. Using this platform, school students will be enrolled in an interactive e-Nutrition Education Programs (e-NEP) to improve their own health and nutritional status and bring a change in their household eating behavior. 
                                    </p>
                                    <!-- <div class="primary-button">
                                        <a href="#">Read More</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Right Image -->
                <section class="right-image">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="left-content">
                                    <h4>Nutri Graden(Poshan Vatika)</h4>
                                    <p>Nutri-Leaders from the school will be educated in these concepts of nutri-gardening, microgreens cultivation, nutrition, health and hygiene. To put their education in practice, the school will provide the land for development of micronutrient rich nutria-garden/microgreens. These nutri-leaders will, in turn, share the produce with selected Anganwadis from the community who in turn will distribute its precious cargo to ICDS beneficiaries (children with SAM, MAM and anemic women and adolescent girls) to tackle the micronutrient deficiency within the vulnerable population. This will not only help the ICDS beneficiaries but develop a set of life-skills among the school students.</p>
                                    <!-- <div class="primary-button">
                                        <a href="#">Read More</a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static 'assets/images/Nutri_gardens.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="left-image">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{% static 'assets/images/icds.gif' %}"  alt="">
                            </div>
                            <div class="col-md-6">
                                <div class="right-content">
                                    <h4>ICDS</h4>
                                    <p>The ICDS services focus on providing adequate nutrition to reduce malnutrition among the vulnerable population within the community. These include SAM/MAM children, pregnant women, lactating mothers and adolescent girls. The ICDS cadre (Mukhya sevikas and Anganwadi workers) strive to achieve this goal. With the help of this platform, we aim to train the beneficiaries in the concepts of nutrition to bring about a behavior change. The beneficiaries will have direct and quick access where their queries and feedback will reach the ICDS cadre and monitoring their health and nutritional status is easier.
                                    </p>
                                    <!-- <div class="primary-button">
                                        <a href="#">Read More</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">

            <div class="inner">

                <!-- Search Box -->
                <section id="search" class="alt">
                    <form method="get" action="#">
                        <input type="text" name="search" id="search" placeholder="Search..." />
                    </form>
                </section>

                <!-- Menu -->
                <nav id="menu">
                    <ul>
                        <li><a href="/">{% trans "Home" %}</a></li>
                        <li><a href="/aboutus/">{% trans "About Us" %}</a></li>
                        <li><a href="mailto:info@communitygis.net">Contact Us</a></li>
                        <li>
                            <span class="opener">School Project</span>
                            <ul>
                                <li><a href="{% static 'Community Diet Diversity Project Changes done26nov.docx.pdf' %}">Concept Note on site</a></li>
                                <li><a href="{% static 'concept_note_DietDiversityScore_for_children.pdf' %}">Concept Note on Diet Score</a></li>
                                <li>
                                    <a href="/register/">Partners</a>
                                </li>
                                <li><a href="{% static 'Overview for Community DIet Diversity Project.pdf' %}">Narrative</a></li>
                                <li><a href="/map/">Maps</a></li>
                            </ul>
                        </li>
                    
                        <li>
                            <span class="opener">Nutri-Garden Project</span>
                            <ul>
                                <!-- <li><a href="https://poshanvatika.communitygis.net/">Poshan Vatika Website </a></li> -->
                                <li><a href="/">Training Materials </a></li>
                                <li>
                                    <a href="/">Partners</a>
                                </li>
                                <li><a href="/">Narrative</a></li>
                                <li><a href="https://poshanvatika.communitygis.net/">Maps</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.google.com">ICDS Project</a></li>

                        <li><a href="/resources/">Resources</a></li>
                            <!-- <ul> 
                            
                                <li>
                                    <span class="opener"> School Project Resources</span>
                                    <ul>
                                        <li><a href="/article_school/">All the Resources</a></li>
                                        <li><a href="/list_school/">Articles</a></li>
                                        <li><a href="/image_school/">Images</a></li>
                                        <li><a href="/video_school/">Videos</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <span class="opener"> Nutri Garden Project Resources</span>
                                    <ul>
                                        <li><a href="/resources_nutrigarden/">All the Resources</a></li>
                                        <li><a href="/list_nutri/">Articles</a></li>
                                        <li><a href="/image_nutri/">Images</a></li>
                                        <li><a href="/video_nutri/">Videos</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <span class="opener"> ICDS Project Resources</span>
                                    <ul>
                                        <li><a href="/article_icds/">All the Resources</a></li>
                                        <li><a href="/list_icds/">Articles</a></li>
                                        <li><a href="/image_icds/">Images</a></li>
                                        <li><a href="/video_icds/">Videos</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li> -->
                    
                        {% if user.is_authenticated %}

                        <!-- <li class="active"><a href="/map/">Maps</li> -->
                        <li class="active"><a href="/logout/">Logout</li>
                            {% else %}
                            <li><a href="/login/">Login/Register</a></li>
                        {% endif %}

                    </ul>
                </nav>
                <div class="header-content">
            
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                
                        <select name="language" style="width: auto;" id="">
                          {% get_current_language as LANGUAGE_CODE %}
                          {% get_available_languages as LANGUAGES %}
                          {% get_language_info_list for LANGUAGES as languages %}
                          {% for language in languages %}
                
                              <option value="{{ language.code }}"
                                {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                              </option>         
                          {% endfor %}
                        </select>
                        <input type = "submit" value ="Go">
                    </form>
                
                </div>
            </div>
                <!-- Featured Posts -->
                <!-- <div class="featured-posts">
                    <div class="heading">
                        <h2>Featured Posts</h2>
                    </div>
                    <div class="owl-carousel owl-theme">
                        <a href="#">
                            <div class="featured-item">
                                <img src="{% static 'assets/images/featured_post_01.jpg' %}" alt="featured one">
                                <p>Aliquam egestas convallis eros sed gravida. Curabitur consequat sit.</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="featured-item">
                                <img src="{% static 'assets/images/featured_post_01.jpg' %}" alt="featured two">
                                <p>Donec a scelerisque massa. Aliquam non iaculis quam. Duis arcu turpis.</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="featured-item">
                                <img src="{% static 'assets/images/featured_post_01.jpg' %}" alt="featured three">
                                <p>Suspendisse ac convallis urna, vitae luctus ante. Donec sit amet.</p>
                            </div>
                        </a>
                    </div>
                </div> -->

                <!-- Footer -->
                <footer id="footer">
                    <!-- <p class="copyright">Copyright &copy; Glenmark -->
                        <!-- <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a></p> -->
                </footer>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/transition.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>


</body>

</html>