{% extends 'base.html' %} {% load static%} {% block content %}
<style>
    .myform {
        margin-top: 200px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    
    h1 {
        text-align: center;
    }
</style>

<form method="post" enctype="multipart/form-data" class="myform">
    {% csrf_token %}
    <h1>Bulk registration for Head mentor</h1>
        <a href="{% static 'xlsxforms/Mentors_File.xlsx' %}" target="_blank">Download Head Mentor Sample File</a>
   
    <br>
    <span>Please Upload Excel(.xlsx) File</span>
    <br>
    <br>
    <input type="file" name="myFile"> <br> <br>
    <button type="submit" class="btn btn-info">Upload file</button>
</form>
{% if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }}" UserRole="alert">
    <p {% if message.tags %} class="" {% endif %}>{{ message }}</p>
</div>{% endfor %} {% endif %}
<!--   -->
{% endblock %}