{% extends 'base.html' %} {% load static%} {% block content %} {% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<head>
    <meta charset="utf-8">
    <title>Minimal Django File Upload Example</title>
    <style>
        .myform {
            margin-top: 200px;
            margin-left: 20%;
            margin-right: 20%;
        }
        
        h1 {
            text-align: center;
            color: rgb(32, 6, 75);
            font-weight: bolder;
        }
   

    </style>
</head>

<body class="myform">
    <!-- List of uploaded documents -->

    <h1>Concent Form</h1>
    <!-- Upload form. Note enctype attribute! -->
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <div> -->
          <p style="text-align: justify;">  Dear Parents, <br>

            Due to COVID-19, the school education has taken a big turn towards 'online'. Blending online with the activity, project oriented learning is extremely important. Using some simple activities, using shared devices, mobiles, and the web is a way to reach out to at least those children who have access to devices and networks. 
            
            We would like to integrate technology with conventionally used nutrition education programs in such a way that your child can assess the diet quality of his/her and set a goal to improve it further. We would like an opportunity to educate children about the food diversity, the good practices of past, present, often poor quality trusted by commercials, impact of dietary lifestyles, connection between health, nutrition and education and best use of communication technology for better living. 
            
            We request you to enable your child to participate in our NUTRI-INFOTAINMENT SESSIONS which is a part of a small research project undertaken as a community extension program.
            
            For this program, we will be undertaking a baseline survey to understand your child’s knowledge, attitudes and practices on nutrition and health as well as collect socio-demographic and economic information of your child. Children will participate in 6 NUTRI-INFOTAINMENT SESSIONS which will be for 2 hours at a convenient time on an e-platform which will have nutrition and health awareness sessions will involve information on food, health, nutrition and diet, games and quizzes. 
            
            Looking forward to your child’s involvement and your active participation in our effort to communicate a behavioral change. Any information generated in this program will be used for educational purposes and not published on any social media platform. 
            
            Thanking you. <br>
            
            Dr. Ratnaraje Thar <br>
            Research Director, Research Unit & Coordinator self- financed courses, College of Home Science, Nirmala Niketan <br>
            Research Guide, Dr. BMN college of Home Science <br>
            Hon. Police Nutritionist for Maharashtra Police at Police Hospital Nagpada <br>
            Academic Consultant, Sophia Women’s Research Center, Mumbai <br>
            </p>
            <div>
                <label for="yes_no_radio">Do you agree to the terms?</label>
              <p>
                  <br>
              <input type="radio" name="yes_no" value="/generalinfo/">Yes</input>
              </p>
              <p>
                  <br>
              <input type="radio" name="yes_no" value="/">No</input>
              </p>
              </div>
        <!-- </div> -->
    </form>
</body>
<script>$('input[type="radio"]').on('click', function() {
    window.location = $(this).val();
});</script>
</html>{% endblock %}