{% extends 'base.html' %} {% load static%}{% block content %} {% load bootstrap4 %}  {% bootstrap_css %}  {% bootstrap_javascript jquery='full' %} 


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Registration</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">

<style>
    .myform {
        margin-top: 200px;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    h1 {
        text-align: center;
        color: rgb(36, 36, 68);
        font-weight: bolder;
    }
</style>
<form action="/student_register/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="myform">
        <h1> Student  Register</h1>
        <table>{{ profile_form.media }} {{form.as_table}}{{profile_form.as_table}}</table>
        <button type="submit" class="btn btn-info">Submit</button>
        <br>
        <br>
        <!-- <span>New User?</span>
        <a href="/register/">Create new account</a> -->
    </div>
</form>


<div>
    {% for message in messages %}
    <h3>{{message}}</h3>{% endfor %}

</div>
<script>
    function weightconverter(valnum) {
        var bla = $('#id_weight').val();
        if (valnum == "lbs") {
            document.getElementById("outputGrams").innerHTML = (bla / 2.2046).toFixed(2);
        } else {
            document.getElementById("outputGrams").innerHTML = bla;
        }
    }

    function SetTime(LoadEvent) {
        var Now = new Date();
        var Seconds = Now.getSeconds();
        var Minutes = Now.getMinutes() + Seconds / 60;
        var Hours = Now.getHours() + Minutes / 60;
        document.getElementById("seconds").setAttribute('transform', 'rotate(' + (Seconds * 6) + ')');
        document.getElementById("minutes").setAttribute('transform', 'rotate(' + (Minutes * 6) + ')');
        document.getElementById("hours").setAttribute('transform', 'rotate(' + (Hours * 15) + ')');
    }

    function waistconverter(valnum) {
        var wst = $('#id_waist').val();
        if (valnum == "inches") {
            document.getElementById("hipcms").innerHTML = (wst * 2.54).toFixed(2);
        } else {
            document.getElementById("hipcms").innerHTML = wst;
        }
    }

    function hipconverter(valnum) {
        var hp = $('#id_hip').val();
        if (valnum == "inches") {
            document.getElementById("waistcms").innerHTML = (hp * 2.54).toFixed(2);
        } else {
            document.getElementById("waistcms").innerHTML = hp;
        }
        var wcm = $("#id_waist").text();
        console.log(wcm)
        var hcm = $("#id_hip").text();
        console.log(hcm)

        var wrh = (wcm / hcm).toFixed(3);
        $('#whratio').val(wrh);
    }

    function lengthconverter(vallen) {
        var len = $('#id_height').val();

        if (vallen == "feet") {

            document.getElementById("outputMeters").innerHTML = (len / 3.281).toFixed(2);
        } else if (vallen == "inches") {

            document.getElementById("outputMeters").innerHTML = (len / 100).toFixed(2);
        } else if (vallen == "cms") {

            document.getElementById("outputMeters").innerHTML = (len / 39.37).toFixed(2);
        } else {
            document.getElementById("outputMeters").innerHTML = len;
        }

        var kg = $("#outputGrams").text();
        console.log(kg)
        var mtr = $("#outputMeters").text();
        console.log(mtr)

        var calbmi = (kg / (mtr * mtr)).toFixed(3);
        $('#bmi').val(calbmi);
    }
    $(document).ready(function() {
        $(".some_class").change(function() {
            var mdate = $("#id_birthdate").val().toString();
            console.log(mdate)
            var yearThen = parseInt(mdate.substring(0, 4), 10);
            var monthThen = parseInt(mdate.substring(5, 7), 10);
            var dayThen = parseInt(mdate.substring(8, 10), 10);

            var today = new Date();
            var birthday = new Date(yearThen, monthThen - 1, dayThen);

            var differenceInMilisecond = today.valueOf() - birthday.valueOf();

            var year_age = Math.floor(differenceInMilisecond / 31536000000);
            console.log(year_age)
            var day_age = Math.floor((differenceInMilisecond % 31536000000) / 86400000);

            if ((today.getMonth() == birthday.getMonth()) && (today.getDate() == birthday.getDate())) {
                alert("Happy B'day!!!");
            }

            var month_age = Math.floor(day_age / 30);



            $('#id_age').val(year_age+'years'+month_age+'months'+day_age+'days');
            
        });
    });
</script>
{% endblock %}